{{#view "project-allocations"}}
  <article class="project" {{bind-attr style="projectHeight"}}>
    <div class="project-allocations">
      {{#each availability in currentAvailabilities}}
        {{ render "availability" availability }}
      {{/each}}
    </div>

    <div class="project-descriptor">
      {{ project.name }}
    </div>
  </article>
{{/view}}
