<article class="project" {{bind-attr style="projectHeight"}}>
  <div class="project-allocations">
    {{#each availability in currentAvailabilities}}
      {{availability-preview model=availability }}
    {{/each}}
  </div>

  <div class="project-descriptor">
    {{ project.name }}
  </div>
</article>
