<article class="project" style={{projectHeight}}>
  <div class="project-allocations">
    {{#each currentAvailabilities as |availability|}}
      {{availability-preview model=availability }}
    {{/each}}
  </div>

  <div class="project-descriptor">
    {{ project.name }}
  </div>
</article>
