@import 'helpers';
@import 'calendar';
@import 'controls';
@import 'modal';
@import 'projects';


body {
  margin: 0;
  font-family: 'Myriad Pro', 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  background-color: #fff;
}

.sign-out-link { font-size: 9pt; }

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  margin: -32px 0 0 -32px;
  background: transparent url(images/spinner.png) center center no-repeat;
  background-size: 100% auto;
  z-index: 1000;
  -webkit-animation: rotating 2s linear infinite;
}

.content-wrapper {
  margin-left: 48px;
  height: 100%;
}

.navigation-frame {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  width: 48px;

  iframe {
    height: 100%;
    width: 100%;
  }
}

