#calendarBar {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: $calendar-height;
  border-bottom: 1px solid #aaa;
  background-color: #fdfdfd;
}

.calendar-date-selector {
  position: absolute;
  height: 100%;
  width: $sidebar-width;
  font-size: 14px;
  padding: 7px 0 0;
  color: #888;
  border-right: 1px solid #e6e6e6;
  text-align: center;

  .datepicker { width: 95%; }
}

.calendar {
  position: absolute;
  left: $sidebar-width;
  right: 0;
  height: $calendar-height;
  margin: 0;
  padding: 0;
  background: url('images/days.png') 0 19px repeat-x;
  background-size: 112px 12px;
}

.week {
  display: block;
  float: left;
  width: 112px;
  height: $calendar-height;
  border-right: 1px solid #ebebeb;
  padding: 3px 0 0 3px;
  color: #888;
  font-size: 12px;
}
