$modal-width: 600px;


.modal {
  background: white;
  z-index: 1;
  position: fixed;
  color: gray;
  top: 10%;
  left: 50%;
  z-index: 1050;
  width: $modal-width;
  margin-left: -($modal-width/2);
  box-shadow: 0px 0px 5px rgba(0,0,0,.4);
  opacity: 0;
  -webkit-transform: scale(0.6);
  -webkit-transition: all .250s ease-out;

  i {
    position: absolute;
    left: -35px;
    top: 10px;
    font-size: 46px;
    font-family: "entypo";
    }

  label {
    display: block;
    margin: 0 0 5px 0;
    font-size: 20px;
  }

  button {
    width: auto;
    height: auto;
    padding: 10px;
    border: none;
  }
}

.modal.in {
  opacity: 1;
  -webkit-transform: scale(1.0);
}

.modal-header {
  font-size: 22px;
  padding: 20px;
  font-weight: bold;
  background: $blue;
  color: white;
}

.close-x {
  font-family: "entypo";
  font-size: 56px;
  float: right;
  position: relative;
  bottom: 14px;
  cursor: pointer;
}

.modal-body {
  padding: 20px 50px 20px 20px;
  margin: 0 0 0 30px;

  .field label, select {
    display: block;
  }

  .error {
    color: red;
  }
}

.modal-project, .modal-person {
  margin: 0 0 20px 0;
  position: relative;
}

.options {
  margin: 0 0 10px 0;
}

.dates, .options, .notes {
  @include clearfix;
  position: relative;

input, textarea {
  padding: 3px;
  font-size: 14px;
  display: block;
  }

  textarea {
    height: 60px;
    resize: none;
    padding: 10px;
    width: 100%
  }
}

.dates span {
  float: left;
  position: relative;
  top: 27px;
  font-size: 28px;
  }

.start, .end {
  float: left;
}

.start {
  margin: 0 10px 20px 0;
}

.end {
  margin: 0 0 20px 10px;
}

.start-date, .end-date, textarea {
  border: 1px solid $dark-gray;
  font-weight: bold;

  &:focus {
    outline: 2px solid $dark-gray;
  }
}

.billable, .exclusive {
  @include user-select(none);
  float: left;
  margin: 0 20px 0 0;


span::before {
  font-family: "entypo";
  position: relative;
  content: "";
  width: 18px;
  height: 18px;
  border: 1px solid $dark-gray;
  background: white;
  margin: 0 10px 0 0;
  float: left;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked + span::before {
  font-family: "entypo";
  content: '\2713';
  font-size: 60px;
  text-align: center;
  line-height: .1;
  float: left;
  color: gray;
  z-index: 2;
}
}

.modal-footer {
  padding: 0 20px 20px 20px;

  a {
    float: right;
    position: relative;
    top: 13px;
    text-decoration: none;
    color: gray;
    margin: 0 0 0 10px;
  }
}

.modal-backdrop {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  background: rgba(255,255,255,0.7);
  opacity: 0;
  -webkit-transition: all .250s ease-out;
}

.modal-backdrop.in {
  opacity: 1;
}
