$modal-width: 600px;


.modal, .quick-view-modal {
  background: white;
  z-index: 1;
  position: fixed;
  color: gray;
  top: 25%;
  left: 50%;
  z-index: 1050;
  width: $modal-width;
  margin-left: -($modal-width/2);
  box-shadow: 0px 0px 5px rgba(0,0,0,.4);
  opacity: 0;
  @include transition (all .25s);

  i {
    position: absolute;
    left: -35px;
    top: 10px;
    font-size: 46px;
    font-family: "entypo";
    }

  label {
    display: block;
    margin: 0 0 5px 0;
    font-size: 20px;
  }

  button {
    width: auto;
    height: auto;
    padding: 10px;
    border: none;
  }

input, textarea {
  padding: 3px;
  font-size: 14px;
  display: block;
  color: gray;
  }

textarea {
  font-weight: bold;
  height: 60px;
  resize: none;
  padding: 10px;
  width: 100%;
  border: 1px solid $dark-gray;
  font-weight: bold;

  &:focus {
    outline: 2px solid $dark-gray;
  }
}

  &.in {
    opacity: 1;
  }
}

.modal-header {
  font-size: 22px;
  padding: 20px;
  font-weight: bold;
  background: $blue;
  color: white;
}

.close-x {
  font-family: "entypo";
  font-size: 56px;
  float: right;
  position: relative;
  bottom: 14px;
  cursor: pointer;
  line-height: 1
}

.modal-body {
  padding: 20px 50px 20px 20px;
  margin: 0 0 0 30px;

  .field label, select {
    display: block;
  }

  .error {
    color: red;
  }
}

.project-name {

  input {
    border: 1px solid $dark-gray;
    font-weight: bold;

    &:focus {
      outline: 2px solid $dark-gray;
    }
  }
}
.modal-project, .modal-person, .project-name, .modal-offices {
  margin: 0 0 20px 0;
  position: relative;
}

.modal-person{

  h3 {
    margin: 0;
  }
}
.modal-offices {
  margin: 20px 0;
}

.start-date, .end-date {
  border: 1px solid $dark-gray;
  font-weight: bold;

  &:focus {
    outline: 2px solid $dark-gray;
  }
}

.options {
  margin: 0 0 10px 0;

  span {
    float: left;
    margin: 0 5px 0 0;
    font-size: 20px;
    position: relative;
    bottom: 1px;
  }
}

.dates, .options, .notes, .project-name, .offices, .percent-allocated {
  @include clearfix;
  position: relative;
}

.dates span {
  float: left;
  position: relative;
  top: 23px;
  font-size: 28px;
}

.dates .dash {
  top: -7px;
}

.start, .end, {
  float: left;

  h3 {
  margin: 0
  }
}

.start {
  margin: 0 10px 20px 0;
}

.end {
  margin: 0 0 20px 10px;
}

.billable, .exclusive {
  float: left;
  margin: 0 20px 0 0;

  &.project-modal {
    float: none;
    margin: 0 0 15px 0;
  }

  &.preview {
    margin: 0 5px 0 0;
  }

  h3 {
  margin: 0
  }
}

.percent-allocated, .options, .notes {
  margin: 0 0 20px 0;

  h3 {
    margin: 0;
  }
}
.modal-offices {
  margin: 20px 0 0 0;
}

.modal-office {
  margin: 0 0 10px 0;
}

.billable, .exclusive, .modal-offices, .modal-office {
  @include user-select(none);

span::before {
  font-family: "entypo";
  position: relative;
  content: "";
  width: 18px;
  height: 18px;
  border: 1px solid $dark-gray;
  background: white;
  margin: 0 10px 0 0;
  float: left;
}

input[type=checkbox] {
  position: absolute;
}

input[type=checkbox]:checked ~ span::before {
  font-family: "entypo";
  content: '\2713';
  font-size: 28px;
  text-align: center;
  line-height: .65;
  float: left;
  color: gray;
  z-index: 2;
}
}

.modal-footer {
  padding: 0 20px 20px 20px;

  a.delete {
    float: right;
    position: relative;
    top: 13px;
    text-decoration: none;
    color: gray;
    margin: 0 0 0 10px;
    color: $red;
  }
}

.modal-backdrop {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(255,255,255,0.7);
  opacity: 0;
  @include transition (all .25s);

  &.in {
    opacity: 1;
  }
}

