{
  "default": {
    "UA":           "UA-XXXXXXXX-Y",
    "DOMAIN":       "example.com",
    "API_BASEURL":  "http://localhost:5000/api/v1",
    "EMBER_DEBUG":  true
  },
  "production": {
    "API_BASEURL":  "http://t2api.herokuapp.com/api/v1",
    "EMBER_DEBUG":  false
  },
  "staging": {
    "API_BASEURL":  "http://t2api-staging.herokuapp.com/api/v1",
    "EMBER_DEBUG":  false
  },
  "test": {
    "API_BASEURL":  "http://localhost:5001/api/v1"
  }
}
