@import "bourbon/bourbon";
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@include font-face(entypo, '/assets/fonts/entypo');

@import 'colors';
@import 'helpers';

@import 'buttons';
@import 'calendar';
@import 'controls';
@import 'faux-select';
@import 'modal';
@import 'new-nav';
@import 'people';
@import 'projects';

* {
  @include box-sizing(border-box);
}


body {
  margin: 0;
  font-family:'Montserrat', sans-serif;
  font-weight: 400;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}

.sign-out-link { font-size: 9pt; }

.hidden {
  display: none;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  margin: -32px 0 0 -32px;
  background: transparent url(/img/spinner.png) center center no-repeat;
  background-size: 100% auto;
  z-index: 1000;
  -webkit-animation: rotating 2s linear infinite;
}

.content-wrapper {
  height: 100%;
}

