@import "modal";

$sidebar-width: 192px;

body {
	margin: 0;
	background-color: #fff;
	font-family: "myriad-pro",sans-serif;
	line-height: 19.2px;
}

#controls {
	position: relative;
	height: 40px;
	.title {
		position: absolute;
		width: $sidebar-width;
		background-color: #8BDEF6;
		height: 100%;
		h1 {
			padding: 0 15px;
			color: white;
			font-size: 14px;
			font-weight: 400;
		}
	}
	.controls {
		position: absolute;
		left: $sidebar-width;
	}
	background-color: #73d7f4;
}

#timeline {
	#calendarBar {
		height: 24px;
		background-color: #fff8f0;
		position: relative;
		overflow: hidden;
		border-bottom: 1px solid #aaa;
		.selector {
			position: absolute;
			height: 100%;
			width: $sidebar-width - 4px;
			font-size: 14px;
			padding: 4px 0 0 4px;
			color: #888888;
			background-color: #f8f0f0;
			.datePicker {
				padding-right: 20px;
				float: right;
			}
		}
		.calendar {
			position: absolute;
			left: $sidebar-width+2;
			width: 100%;
			height: 24px;
			background-image: url('/app/img/days.png');
			background-position: 0px 12px;
			background-repeat: repeat-x;
			ul {
				font-size: 10px;
				color: #888;
				margin: 0;
				padding: 0;
				li {
					display: inline-block;
					width: 107px;
					height: 24px;
					border-right: 2px solid rgba(0,0,0,0.09);
				}
			}
		}
	}
	#projectList {

		overflow: hidden;
		.project {
			display:block;
			width: 100%;
			min-height: 42px;
			position: relative;
			border-bottom: 1px solid #aaa;
			background-color: rgba(255,255,255,0.5);
			background-image: url('/app/img/calendar.png');
			background-position: $sidebar-width;
			.descriptor {
				position: absolute;
				display:block;
				height: 100%;
				width: $sidebar-width;
				background-color: #ffffff;
				border-right: 1px solid #eee;
				border-bottom: 1px solid #eee;
				span {
					padding: 15px;
					color: #454848;
					font-weight: 400;
				}
			}
			.container {
				position: absolute;
				left: $sidebar-width;
				.allocations {
					position: relative;
					height: 100%;
					div {
						-webkit-border-radius: 3px;
						-moz-border-radius: 3px;
						border-radius: 3px;
						margin-top: 1px;
						height: 27px;
						background-color: #3bcf91;
						position: absolute;
						font-size: 11px;
						color: rgba(255,255,255,0.9);
						border-radius: 3px;
						.allocationContent {
							background-color: transparent;
							padding: 5.2px 0 5.2px 8px;
							text-overflow: ellipsis;
							white-space: nowrap;
							overflow: hidden;
							-webkit-box-sizing: border-box;
							-moz-box-sizing: border-box;
							box-sizing: border-box;
							width: 100%;
							.identifier {
								font-weight: 700;
							}
							.range {
								color: rgba(255,255,255,0.7);
							}
						}
					}
				}
			}
		}
	}
}