<div class="container content-wrapper">
</div>

<div class="main content-wrapper">
  {{outlet}}
</div>

{{outlet "modal"}}
<div id="t2-wormhole"></div>
{{outlet "quickLook"}}

{{#if allocationModal.activeModal}}
  {{component
    allocationModal.activeModal
    model=allocationModal.activeAllocation
    projectsController=projectsController
    officeController=officeController}}
{{/if}}
