<div class="container content-wrapper">
</div>

<div class="main content-wrapper">
  {{outlet}}
</div>

{{outlet "modal"}}
<div id="t2-wormhole"></div>
{{outlet "quickLook"}}

{{#if allocationModal.activeModal}}
  {{component
    allocationModal.activeModal
    model=allocationModal.activeAllocation
    projectsController=projectsController
    officeController=officeController}}
{{/if}}


{{#if isLoading}}
  <pre id="loading">
    <div class="loader">
      <div class="gears">
        <div class="largest-gear"><span>&#9881;</span></div>
        <div class="lg-gear"><span>&#9881;</span></div>
        <div class="sm-gear"><span>&#9881;</span></div>
      </div>
    </div>
  </pre>
{{/if}}
