<a href="#" class="logo"></a>
<div class="user-actions">
  {{#each link in view.bottom_links}}
    {{nav-bar-button link=link displayTitle=false}}
  {{/each}}
  <div class="global-logout"><a href="/#/sign_out"><i>&#59201;</i></a></div>
</div>
<ul>
  {{#each link in view.top_links}}
    {{nav-bar-button link=link displayTitle=true}}
  {{/each}}
</ul>
