<section id="peopleList">
  <article class="project dummy-project">
    <div class="project-descriptor">
      <div class="segmented-control">
        {{link-to 'Projects' 'projects' class="toggle-button" tagName="button"}}
        {{link-to 'People' 'people' class="toggle-button" tagName="button"}}
      </div>
    </div>
  </article>

  {{#each sortedPeople as |person|}}
    {{t2-person
      model=person
      officeController=officeController
      peopleController=peopleController
      editAllocation="editAllocation"
      createAllocation="createAllocation"
      quickView="quickView"}}
  {{/each}}
</section>
